html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin: 0;
  color: #222;
}

/* header styles */
header {
  background-color: #222;
}

h1,
h2,
h4 {
  color: #000;
}

/* main styles */
main {
  flex: 1;
}

svg {
  height: 1em;
  padding-right: 10px;
}

/* footer styles */
footer {
  border-top: 1px solid #222;
}