/*footer styles*/
footer {
  background-color: #696969;
}

.footer, .footer div a, footer .copy p   {
  color: #fff;
}

.footer {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.footer div a {
  text-decoration: none;
}

footer .copy p {
  text-align: center;
  padding: 20px;
  margin: 0;
}
