/* container styles */
.container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  max-width: 1360px;
  min-height: 100vh;
}

/* header styles */
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__heading--header {
  color: #fff;
  margin: 0;
  margin-left: 20px;
}

.nav__list--header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 50px;
  list-style-type: none;
  margin: 0;
  margin-right: 20px;
  padding: 0;
}

/* main styles */
.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 40px 0;
}

.main--portfolio,
.main--blog,
.main--404 {
  padding: 40px 0;
}

.main__container {
  margin: 0 auto;
  width: 80%;
}

.main__container--med {
  width: 50%;
}

/* blog styles */
.main__container--blog {
  display: flex;
}

.container__post {
    width: 70%;
}

.paginate {
  display: flex;
}

.paginate__prev {
  flex: 1;
}

.paginate__next {
  flex: 1;
}

/* portfolio styles */
.grid--portfolio {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 400px;
  grid-gap: 20px;
  grid-auto-rows: 400px;
  grid-auto-columns: 300px;
  align-content: center;
  justify-content: start;
}

.grid__item {
  display: flex;
  flex-direction: column;
}

.item__content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.item__meta {
  flex: 1;
}

.item__flex {
  border-top: 1px solid #d4d4d5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* footer styles */
.nav__list--footer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
}

/* media screen styles */
@media screen and (max-width: 1200px) {
  .grid--portfolio {
    justify-content: center;
  }
}

@media screen and (max-width: 1060px) {
  /* grid styles */
  .grid--portfolio {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(3, 400px);
  }
}

@media screen and (max-width: 960px) {
  /* main styles */
  .main__container--med {
    width: 80%;
  }

  .main__container--blog {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  /* blog styles */
  .container__post {
    order: 2;
    width: 100%;
  }

  .img--paginate {
    object-fit: cover;
    width: 100%;
  }

  .blog__meta {
    width: 100%;
  }

  .archive {
    height: unset;
    order: 1;
    width: 100%;
  }

  .paginate {
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  /* grid styles */
  .grid--portfolio {
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(6, 400px);
  }
}

@media screen and (max-width: 500px) {
  /* header styles */
  .header__nav {
    flex-direction: column;
  }

  .nav__heading--header {
    margin: 0;
    margin-top: 1em;
  }

  .nav__list--header {
    margin-right: 0;
  }

  /* main styles */
  .main,
  .main--portfolio,
  .main--404,
  .main--blog {
    padding: 20px;
  }

  .main__container--med {
    width: 100%;
  }

  .main__container--blog {
    margin: 0;
    width: 100%;
  }

  /* blog styles */
  .archive {
    padding: 10px;
  }
}