/* header styles */
.nav__item--header {
  margin: 0 10px;
}

.nav__link--header {
  color: #fff;
}

.container__heading {
  margin-top: 0;
}

.active {
  background-color: white;
  border-radius: 10px;
  padding: 5px 15px;
}

.active--link {
  color: #222;
}

/* main styles */
.web {
  list-style-type: none;
  padding: 0;
}

.web__list {
  margin: 5px 0;
}

.link {
  color: #2076e1;
}

.link:hover {
  color: #111;
}

/* grid styles */
.grid--portfolio {
  position: relative;
}

.grid__item {
  box-shadow: 0 1px 3px 0 #d4d4d5,
                      0 0 0 1px #d4d4d5;
  position: relative;
  left: 0;
  bottom: 0;
  transition: all 0.3s;
}

.item__image {
  width: 100%;
}

.item__content > p,
.item__content > h4 {
  margin-top: 0;
}

.item__content {
  padding: 20px;
}

/* blog styles */
.img--post {
 width: 300px;
}

.img--blog {
 width: 100%;
}

.img--paginate {
  height: 100px;
  object-fit: cover;
  width: 80%;
}

.btn-container {
  margin: 30px 30px 30px 0;
}

.btn {
  background-color: #222;
  border-radius: 15px;
  color: #fff;
  display: inline-block;
  list-style: none;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  transition: background-color 0.7s, top 0.7s;
}

.btn--small {
  padding: 5px 15px;
}

.btn:hover {
  background-color: #555;
  top: 1px;
}

.post__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.blog__meta {
  width: 80%;
}

/* table styles */
table {
  border-spacing: 0;
}

tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

tr:nth-of-type(even) {
  background-color: #f6f8fa;
}

th,
td {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

th {
  text-align: left;
}

/* archive styles */
.archive {
    border: solid 1px #ddd;
    border-radius: 3px;
    width: 40%;
    height: 500px;
    padding: 30px;
}

.archive__heading {
  margin: 0;
}

.archive__list {
  margin: 0 0 25px 30px;
  line-height: 1.75;
  list-style-type: none;
  padding: 0;
}

.archive__link {
  color: #2076e1;
  text-decoration: none;
}

.archive__link:hover {
  color: #111;
}

.archive__meta {
  color: #8f8f8f;
  overflow: hidden;
}

/* footer styles */
.nav__item--footer {
  margin: 0 20px;
}

.animate {
  left: 0;
  bottom: 10px;
}

/* syntax highlighting for the blog */
.code {
  background-color: #f7f7f9;
  border-radius: 4px;
  font-size: 90%;
  padding: 2px 4px;
}

.code--orange {
  color: #FF9D00;
}

.code--blue {
  color: #1e347b;
}

.code--red {
  color: #d14;
}

.title--file {
  border: 1px solid rgba(0, 0, 0, .15);
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 0px;
  padding: 4px 9px 0 9px;
}

p > img {
  width: 100%;
}

.highlight {
  background-color: #272822;
  font-size: 16px;
  line-height: 1.2;
  padding: 10px;
}

/* js syntax highlighting */
.language-js .c1 {
  color: #e1efff;
  font-style: italic;
}

.language-js .p {
  color: #fff;
}

.language-js .na {
  color: #9EFFFF
}

.language-js .mf {
  color: #ff5e4c;
}

.language-js .nx {
  color: #5ebcff;
}

.language-js .nb {
  color: #a5ff90;
}

.language-js .o {
  color: #fff;
}

.language-js .kd,
.language-js .k {
  color: #FF9D00;
}

.language-js .s1,
.language-js .s2 {
  color: #a6e22e;
}

.language-js .mi {
  color: orange;
}

.language-js .kc,
.language-js .mi {
  color: #f97162;
}

.language-js .nt {
  color: #690;
}

.language-js .nl {
  color: #905;
}

/* html syntax highlighting */
.language-html {
  background-color: #272822;
  overflow: scroll;
}

.language-html .nt {
  color: #9EFFFF;
}

.language-html .cp {
  color: #9EFFFF;
}

.language-html .na {
  color: #ffc600;
}

.language-html .s {
  color: #92fc79;
}

.language-html .highlight {
  color: #fff;
}

/* css syntax highlight */
.language-css .c {
  color: #0088ff;
  font-style: italic;
}

.language-css .nt {
  color: #690;
}

.language-css .nx,
.language-css .nb {
  color: #ffee80;
}

.language-css .nc {
  color: #3ad900;
}

.language-css .nl {
  color: #75e75b;
}

.language-css .nf {
  color: #FFB454;
}

.language-css .no {
  color: #ffee80;
}

.language-css .k {
  color: #FF9D00;
}

.language-css .p {
  color: #e1efff;
}

.language-css .n {
  color: #ffee80;
}

.language-css .m {
  color: #ffee80;
}

@media screen and (max-width: 961px) {
  pre.highlight {
    overflow: scroll;
  }
}