/* header styles */
.nav__item--header {
  margin: 0 10px;
}

.nav__link--header {
  color: #fff;
}

.container__heading {
  margin-top: 0;
}

.active {
  background-color: white;
  border-radius: 10px;
  padding: 5px 15px;
}

.active--link {
  color: #222;
}
/* main styles */
.web {
  list-style-type: none;
  padding: 0;
}

.web__list {
  margin: 5px 0;
}

.link {
  color: #2076e1;
}

.link:hover {
  color: #111;
}
/* grid styles */
.grid--portfolio {
  position: relative;
}

.grid__item {
  box-shadow: 0 1px 3px 0 #d4d4d5,
                      0 0 0 1px #d4d4d5;
  position: relative;
  left: 0;
  bottom: 0;
  transition: all 0.3s;
}

.item__image {
  width: 100%;
}

.item__content > p,
.item__content > h4 {
  margin-top: 0;
}

.item__content {
  padding: 20px;
}

/* blog styles */
.img--post {
 height: 200px;
}

.img--blog {
 width: 100%;
}

.btn-container {
  margin: 30px 30px 30px 0;
}

.btn {
  background-color: #222;
  border-radius: 15px;
  color: #fff;
  display: inline-block;
  list-style: none;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  transition: background-color 0.7s, top 0.7s;
}

.btn--small {
  padding: 5px 15px;
}

.btn:hover {
  background-color: #555;
  top: 1px;
}

.img--paginate {
  height: 100px;
}

.post__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.blog__meta {
  width: 80%;
}
/* table styles */
table {
  border-spacing: 0;
}

tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

tr:nth-of-type(even) {
  background-color: #f6f8fa;
}

th,
td {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

th {
  text-align: left;
}
/* archive styles */
.archive {
    border: solid 1px #ddd;
    border-radius: 3px;
    width: 40%;
    height: 400px;
    padding: 30px;
}

.archive__heading {
  margin: 0;
}

.archive__list {
  margin: 0 0 25px 30px;
  line-height: 1.75;
  list-style-type: none;
  padding: 0;
}

.archive__link {
  color: #2076e1;
  text-decoration: none;
}

.archive__link:hover {
  color: #111;
}

.archive__meta {
  color: #8f8f8f;
  overflow: hidden;
}

/* footer styles */
.nav__item--footer {
  margin: 0 20px;
}

.animate {
  left: 0;
  bottom: 10px;
}

/* syntax highlighting for the blog */
.highlight {
  background-color: #272822;
  font-size: 16px;
  line-height: 1.2;
  padding: 10px;
}

.highlight .c1 {
  color: #75715e;
}

.nx,
.highlight .nb {
  color: #268BD2;
}

.highlight .o {
  color: #fff;
}

.highlight .kd,
.highlight .k {
  color: #c537dd;
}

.highlight .s1,
.highlight .s2 {
  color: #a6e22e;
}

.highlight .p {
  color: #ded9d9;
}

.highlight .mi {
  color: orange;
}

.highlight .kc {
  color: #f5d1d7;
}

.highlight .nt {
  color: #690;
}

.highlight .nl {
  color: #905;
}

.highlight .n {
  color: #DD4A68;
}

@media screen and (max-width: 961px) {
  pre.highlight {
    overflow: scroll;
  }
}