---
layout: default
title: Blog · Daniel Munoz
meta: Daniel Munoz blog which gives explanations of topics in HTML, CSS, JavaScript, and technology related to web development. Daniel Munoz, Front End Web Developer, Long Beach, California
changefreq: weekly
---

<div class="main__container main__container--blog">
  <div class="container__post">
    <h1 class="container__heading">Blog</h1>
    <ul class="post__list">
      <!-- loop for backlinks -->
      {% for link in site.data.links %}
        <li class="list__blog">
          <div>
            <a href="{{ link.source }}">
              <img class="link img--post {{ link.class }}" src="{{ site.baseurl }}/images/{{ link.imgSrc }}" alt="Photo of {{ link.imgAlt }}" class="img--post">
            </a>
          </div>
          <div>
            <h2>
              <a class="link blog__a" href="{{ link.source }}">{{ link.header }}</a>
            </h2>
            <p class="blog__meta">
              {{ link.meta }} <a class="link blog__a" href="{{ link.source }}">Read More</a>
            </p>
            <p>{{ link.date }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  <!-- archive -->
  <section class="archive">
    <h2 class="archive__heading">2019</h2>
    <ul class="archive__list">
      <!-- loop for backlinks -->
      {% for link in site.data.links-2019 %}
      <li>
        <a class="archive__link" href="{{ link.source }}">
          <span class="archive__meta">{{ link.date }}</span> - {{ link.header }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <h2 class="archive__heading">2018</h2>
    <ul class="archive__list">
      {% for link in site.data.links-2018 %}
      <li>
        <a class="archive__link" href="{{ link.source }}">
          <span class="archive__meta">{{ link.date }}</span> - {{ link.header }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
</div>