---
layout: default
title: Blog · Daniel Munoz
meta: Daniel Munoz blog which gives explanations of topics in HTML, CSS, JavaScript, and technology related to web development. Daniel Munoz, Front End Web Developer, Long Beach, California
changefreq: weekly
---

<div class="main__container main__container--blog">
  <div class="container__post">
    <h1 class="container__heading">Blog</h1>
    <ul class="post__list">
      <!-- loop for backlinks -->
      {% for link in site.data.links %}
        <li class="list__blog">
          <div>
            <a href="{{ link.source }}">
              <img class="link img--post" src="{{ site.baseurl }}/images/{{ link.imgSrc }}" alt="Photo of {{ link.imgAlt }}" class="img--post">
            </a>
          </div>
          <div>
            <h2>
              <a class="link blog__a" href="{{ link.source }}">{{ link.header }}</a>
            </h2>
            <p class="blog__meta">
              {{ link.meta }} <a class="link blog__a" href="{{ link.source }}">Read More</a>
            </p>
            <p>{{ link.date }}</p>
          </div>
        </li>
      {% endfor %}
      {% for post in site.posts %}
        <li class="list__blog">
          <div>
            <a href="{{ site.baseurl}}{{post.url}}">
              <img class="link img--post" src="{{ site.baseurl }}/images/{{ post.imgSrc }}" alt="Photo of {{ post.imgAlt }}" class="img--post">
            </a>
          </div>
          <div>
            <h2>
              <a class="link blog__a" href="{{ site.baseurl}}{{post.url}}">{{ post.header }}</a>
            </h2>
            <p class="blog__meta">
              {{ post.meta }} <a class="link blog__a" href="{{ site.baseurl}}{{post.url}}">Read More</a>
            </p>
            <p>{{ post.date | date: "%B %-d, %Y" }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  <!-- archive -->
  <section class="archive">
    {% for post in site.posts %} {% assign currentDate = post.date | date: "%Y" %} {% if currentDate != myDate %} {% unless forloop.first
    %}</ul>{% endunless %}
    <h1 class="archive__heading">{{ currentDate }}</h1>
    <ul class="archive__list">
      <!-- list of backlinks -->
      {% include links.html %}
      {% assign myDate = currentDate %} {% endif %}
      <li>
        <a class="archive__link" href="{{ site.baseurl }}{{ post.url }}">
          <span class="archive__meta">{{ post.date | date: "%B %-d, %Y" }}</span> - {{ post.header }}
        </a>
      </li>
      {% if forloop.last %}
      </ul>
      {% endif %}
      {% endfor %}
  </section>
</div>