---
layout: default
title: Project
link: /
---

<header class="home">
  {% include nav.html%}
  <div class="intro">
    <h2>I Make Responsive Websites</h12>
  </div>
</header>
<main>
  <div class="list-container">
    <ul id= "list-1" class="projects">
      {% for project in site.data.list-data %}
        <li class="{{project.class}}"><a href="{{project.source}}">{{project.title}}</a></li>
      {% endfor %}
    </ul>

    <ul id= "list-2" class="projects">
      {% for project in site.data.list-two-data %}
        <li class="{{project.class}}"><a href="{{project.source}}">{{project.title}}</a></li>
      {% endfor %}
      </ul>
    </div>

  </main>
