<footer>
  <div class="footer">
    <div>
      <h2>About Me</h2>
      <p>I am a freelancer based in California</p>
      <p>I focus on web development</p>
      <p><a href="https://github.com/planeswalker1">Github</a></p>
    </div>

    <div>
      <h2>Contact Me</h2>
      <p>If you want help with a project, contact me</p>
      <p>I will help find the best solution</p>
      <p><a href="{{site.baseurl}}contact.html">daniel.munozdev@gmail.com</a></p>
    </div>

  </div>
  <div class="copy">
    <p>&copy; Daniel Munoz</p>
  </div>
</footer>
