<nav class="header__nav">
    <p class="nav__heading--header"><strong>Daniel Munoz</strong></p>
    <ul class="nav__list--header">
      <li class="nav__item--header"><a class="nav__link--header" href="{{ site.baseurl }}/">Home</a></li>
      <li class="nav__item--header"><a class="nav__link--header" href="{{ site.baseurl }}/portfolio">Portfolio</a></li>
      <li class="nav__item--header"><a class="nav__link--header" href="{{ site.baseurl }}/blog">Blog</a></li>
      <li class="nav__item--header"><a class="nav__link--header" href="{{ site.baseurl }}/contact">Contact</a></li>
    </ul>
  </nav>