@media only screen and (min-width: 768px) {
  footer .wrapper {
    display: flex;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 768px) {

  #nav {
    display: none;
  }

  nav #show {
    color: #fff;
    cursor: pointer;
    display: block;
    letter-spacing: 2px;
    margin: 5%;
    text-align: right;
  }

  .list-container {
    flex-direction: column;
  }

  .wrapper div {
    border-bottom: 1px solid #000;
    width: 95%;
    padding: 1%;
    margin: 0 auto
  }

  .footer {
    flex-direction: column;
    text-align: left;
  }

  .footer div {
    border-bottom: 1px solid black;
    padding: 10px;
    width: 92%;
    margin: 0 auto;
  }

  .footer div:first-of-type {
    margin-bottom: 20px;
  }

  .footer div a:hover {
    padding: 15px;
  }

  .footer div p {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 400px) {
  ul#list-1 li, ul#list-2 li {
    height: 200px;
  }
}
