main h1 {
  line-height: 50px;
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 0;
  height: 50px;
}

 ul.tools {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}

ul.tools {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .3)), url(../../images/old.png);
  background-attachment: fixed;
  justify-content: space-around;
  min-height: 400px;
  height: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*background pictures of html css javascript*/
 ul#skills li {
   background-size: 60%;
   height: 200px;
   margin: auto;
   text-indent: -10000px;
   width: 200px;
 }

ul.tools li.html {
  background: url("../../images/html5-logo.svg") no-repeat center;
  /*background-size: 60%;*/
}

ul.tools li.css {
  background: url("../../images/css3-flexbox.svg") no-repeat center;
  /*background-size: 60%;*/
}

ul.tools li.javascript {
  background: url("../../images/js-logo.svg") no-repeat center;
  /*background-size: 60%;*/
}
