<footer>
  <div id="contact" class="wrapper">
    <div>
      <h3>About Me</h3>
      <p>I am a freelancer based in California</p>
      <p>I focus on web development</p>
      <p><a href="https://github.com/planeswalker1">Github</a></p>
    </div>

    <div>
      <h3>Contact Me</h3>
      <p>If you want to implement a project tell me</p>
      <p>I will craft the best solution</p>
      <p>daniel.munozdev@gmail.com</p>
    </div>
  </div>
  <div class="copy">
    <p>&copy; Daniel Munoz</p>
  </div>
</footer>
